<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./includes/head') %>
    <link rel="stylesheet" href="/styles/restaurants.css" />
  </head>
  <body>
    <%-include('./includes/header') %>
    <%-include('./includes/sideDrawer') %>
    <main>
    
      <h1>Restaurant Name: <%=restaurant.name%> </h1>
      <p>Restaurant Address:<%=restaurant.address%></p>
      <p>Restaurant Cuisine:<%=restaurant.cuisine%></p>
      <p>Restaurant Description:<%=restaurant.description%></p>
      <a href="<%= restaurant.website  %>">View Website</a>
    </main>
  </body>
</html>
